{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Saikiran—a passionate MCA student on a journey to master the fascinating world of
          software development and AI/ML. My academic path, coupled with hands-on experience, has
          shaped my deep curiosity and drive to explore emerging technologies.
        </p>
        <p>
          Previously, I worked as a Jr. Software Engineer at Cognizant, where I immersed myself in
          impact analysis, code implementation, and batch workflow management in Mainframe Technology.
          That experience taught me the importance of precision, collaboration, and the beauty of problem-solving.
          Now, as I focus on my studies, I’m actively learning Python, data structures, and algorithms to sharpen
          my skills for future endeavors.
        </p>
        <p>
          This blog is my creative outlet—a place where I share my thoughts, explorations, and coding adventures.
          Through my posts, I aim to connect with like-minded individuals, inspire growth, and exchange ideas that
          push the boundaries of innovation.

          Thank you for visiting my space. Let’s learn, build, and dream together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
